<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-heading">ATS POC</div>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/city-based-search']" class="list-group-item list-group-item-action bg-light">ATMs by City</a>
      <a [routerLink]="['/free-text-search']" class="list-group-item list-group-item-action bg-light">ATMs Free Text Search</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Main Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
           
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">&nbsp;</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Main Content -->
</div>
