<div *ngIf="shouldDisplayResults()">
    <div *ngIf="isLoading === true">
        <div class="text-center mt-5">
            <fa-icon [icon]="faCircleNotch" [spin]="true" size="6x"></fa-icon>
        </div>
    </div>
    <div *ngIf="isLoading === false">
        <div class="card mt-5">
            <div class="card-header">ATMs found</div>
            <div class="card-body">
                <div *ngIf="hasResults() === false" class="mt-2"><strong>No results found.</strong></div>
                <ng-container *ngIf="hasResults() === true">
                    <div class="card mt-2" *ngFor="let atm of atms">
                        <div class="card-body">
                            <div><strong>City:</strong> {{atm.address.city}}</div>
                            <div><strong>Street:</strong> {{atm.address.street}}</div>
                            <div><strong>House number:</strong> {{atm.address.housenumber}}</div>
                            <div><strong>Postal code:</strong> {{atm.address.postalcode}}</div>
                            <div><strong>Lat:</strong> {{atm.address.lat}} <strong>Long:</strong> {{atm.address.lng}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>