<div class="card mt-5">
    <div class="card-header">Free text search</div>
    <div class="card-body">

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Input the search query:</label>
            <div class="col-sm-10">
                <input [(ngModel)]="searchText" type="input" (keyup)="onSearch($event.target.value)" class="form-control" placeholder="Search query">
            </div>
        </div>
    </div>
</div>

<atm-search-result [atms]=atms [isLoading]=isLoading [searchText]=searchText></atm-search-result>